<div class="container mt-4">
  <br>
  <h1 class="title">{{ title }}</h1>

  <!-- Carrusel de Imágenes (Miniaturas) usando Bootstrap para Mostrar Múltiples Imágenes -->
  <div id="catCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
        *ngFor="let group of groupedImages; let i = index">
        <div class="row">
          <div class="col-md-3" *ngFor="let image of group">
            <img [src]="image.url" class="d-block w-100 img-thumbnail" style="cursor: pointer;" (click)="selectImage(image)">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#catCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#catCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Componente VisorComponent (Imagen Seleccionada) -->
  <div class="row visor-info-container">
    <div class="col-6 ">
      <app-visor 
      [image]="selectedImage" 
      (mousePosition)="onMouseCoordinatesUpdate($event)">
    </app-visor>
    </div>

    <!-- Componente InfoComponent (Detalles de la Imagen) -->
    <div class="col-6 ">
      <app-info [image]="selectedImage"  [coordinates]="mouseCoordinates"></app-info>
    </div>
  </div>
</div>
